.pokedex-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  padding: 0px 10px; 
}

.pokemon-card{
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;;
}

.pokemon-img-container{
  padding: 0px 5px;
}

.pokemon-img{
  width: 70px;
  height: 70px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
}

.card-top{
  display: flex;
  flex-direction:  row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3{
text-transform: capitalize;
}

.pokemon-type{
  text-transform: capitalize;
  margin-right: 10px;
}

.card-bottom{
  display: flex;
  flex-direction:  row;
  justify-content: space-between;
  align-items: center;
}

.polemon-type{
  display: flex;
}
.header{
display: flex;
justify-content: space-between;

}

.pagination{
display: flex;
flex-direction: row;
align-items: center;
}
